@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="jumbotron jumbotron-custom">
        <img alt="LOGO WS" width="400px" height="400px" src="~/Resources/ws_white.png" />
        <h1>WS Towers Office</h1>
        <p class="p-custom">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris lobortis hendrerit est, in aliquet lorem. Sed nulla augue,
            interdum nec leo at, blandit rutrum leo. Duis aliquet eros euismod,
            varius lectus sit amet, eleifend orci. Aenean congue eget felis id ornare.
            Sed iaculis facilisis leo nec blandit. In ullamcorper hendrerit lorem,
            eget tempor sem tempor vitae. Donec vitae turpis sem.
            Pellentesque in sollicitudin libero. Praesent in volutpat nisl.
            Nullam sed malesuada ante. Nunc vehicula augue quis dui aliquet convallis.
            Ut eget viverra enim. Etiam aliquet diam elit, a dignissim ante luctus in.
            Nam dapibus ac leo quis tempus. Praesent vitae auctor ipsum.
            Suspendisse id velit condimentum, facilisis nisl ut, cursus tellus.
            Sed iaculis facilisis leo nec blandit. In ullamcorper hendrerit lorem,
            eget tempor sem tempor vitae. Donec vitae turpis sem.
            Pellentesque in sollicitudin libero. Praesent in volutpat nisl.
            Nullam sed malesuada ante. Nunc vehicula augue quis dui aliquet convallis.
            Ut eget viverra enim. Etiam aliquet diam elit.
        </p>
    </div>
</center>