/*body {
    padding-bottom: 1em;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1em;
    padding-top:2rem;
    padding-right: 1em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    color: #212529;
    text-align: center;
    background-color: #000000;
    padding: 0.3em;
}
.navbar {
    background-color: #212529;
    font-size: 14pt;
    color: #ffffff;
    font-weight:500;
}
.nav-link{
    margin:10px;
}
.jumbotron-custom {
    padding: 1em;
    background-color: #212529;
    color: #ffffff;
    text-align:center;
}

.btn-custom {
    font-weight: 500;
    margin-right:1em;
    margin-left:1em;
}
btn {
    font-size: 14pt;
}
table {
    text-align: center;
    font-size: 14pt;
    font-family: Arial;
    font-weight: 500;
    border-radius: 20px 20px;
}