/*body {
    padding-bottom: 1em;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1em;
    padding-top:2rem;
    padding-right: 1em;
    padding-bottom: 0em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer-custom {
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background-color: #212529;
}
.navbar {
    background-color: #212529;
    font-size: 14pt;
    color: #ffffff;
    font-weight:500;
}
.nav-link{
    margin:10px;
}
.jumbotron-custom {
    padding: 1em;
    background-color: #212529;
    color: #ffffff;
    text-align:center;
}

.btn-custom {
    font-weight: 500;
    margin-right:1em;
    margin-left:1em;
}
btn {
    font-size: 14pt;
}
table {
    text-align: center;
    font-size: 14pt;
    font-family: Arial;
    font-weight: 500;
}
th {
    font-size: 14pt;
    font-family: Arial;
    font-weight: 500;
}
.badge-custom{
    background-color:#FFFFFF;
    color:#000000;
    padding:3%;
    font-size:14pt;
    width:19em;
    border-color:#000000;
    align-content:center;
}
.btn-rounded {
    max-width: 45px;
    text-align: right;
    margin-top: -775px;
    margin-right: 0.25rem;
    border-radius:50%;
}
.btn-management{
    margin: 5em;
}
.img-employee-modal {
    height: 400px;
    padding: 1rem;
}
.h1-custom{
    align-content:center;
    color:#212529;

}
.p-custom {
    font-size: 18pt;
    font-family: Arial;
    font-weight: 500;
}
.jumbotron-rounded{
    border-radius:40px;
}
.card-rounded{
    border-radius:40px;
}
.btn-admin{
    margin-top:8px;
    padding:1em;
}