@{
    ViewBag.Title = "Login";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model WSTowersOffice.Api.Models.LoginModel

<div class="jumbotron text-left jumbotron-login">
    <div class="ml-5">
        <h1 style="font-size:70pt;margin-left:150px">WS Towers Office</h1>
        <h1>
            <p class="text-justify" style="margin-left:150px;margin-right:150px;">
                Aplicativo que ajuda times de trabalho, na organização de tarefas,
                motivação com gameficação com premios em uma loja virtual corporativa.
                Nesse modulo web, você poderá gerenciar os seus times e a loja virtual corporativa.
            </p>
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>Times</h3>
            <p class="text-justify">
                Gerencie os seus times e organize as tarefas baseado na metodologia SCRUM.
                Assim você poderá motivá-los a atingir as metas e o Sprint não falhar.
                Em tempos dificeis é importante a utilização dessas ferramentas.
                Aprenda que ter um time é ter uma missão nobre e vamos auxilia-lo nessa missão.
                O gerenciamento de times usa como metodologia o SCRUM.
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Gamificação</h3>
            <p class="text-justify">
                Aplicando o conceito de gamificação no mundo corporativo, o aplicativo WTO traz produtividade para a sua equipe.
                Esse conceito de gamificação já é amplamente aplicado em diversas empresas e tem trazido um resultado incrível
                chamando a atenção de empreendedores, empresários de diversos setores.
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Marketplace</h3>
            <p class="text-justify">
                A loja virtual corporativa aplica a meritocrácia motivando a sua equipe a produzir mais.
                A loja possui uma roda da sorte (game) e utiliza a moeda virtual BitWs.
                Com essa moeda ficticia o membro do time poderá efetuar a compra de produtos
                ou vouches para certificações, cursos, congressos e palestras.
            </p>
        </div>
    </div>
</div>